{{ define "main" }}
  <div class="post">
    <h1 class="post-title"><a href="{{ .Permalink }}">{{ if .Params.heading }}{{ .Params.heading | markdownify }}{{ else }}{{ .Title | markdownify }}{{ end }}</a></h1>

    {{ if .Params.Cover }}
      {{ if .Params.UseRelativeCover }}
        <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="post-cover" />
      {{ else }}
        <img src="{{ .Params.Cover | absURL }}" class="post-cover" />
      {{ end }}
    {{ end }}

    <div class="post-content">
      {{ .Content }}
    </div>

    {{ partial "comments.html" . }}
    </div>
{{ end }}
