<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ if .Params.tags }}
<meta name="keywords" content="{{ delimit .Params.tags ", " }}" />
{{ else if .Site.Params.tags }}
<meta name="keywords" content="{{ delimit .Site.Params.tags ", " }}" />
{{ end }}
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Theme CSS -->
{{ $css := resources.Get "css/style.css" | resources.Fingerprint }}
<link href="{{ $css.Permalink }}" rel="stylesheet" type="text/css" />

<!-- Icons -->
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}">

<!-- Twitter Card -->
{{ template "_internal/twitter_cards.html" . }}

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}

<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}

{{ if .File -}}
{{ if eq .File.Path "search.md" -}}
{{ partial "search" . }}
{{ end -}}
{{ end -}}

<!-- head custom -->
{{- partial "extended_head.html" . }}
